{% extends "FOSUserBundle::layout.html.twig" %}

	{% block menu %}
        <div id="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        
                        {% if is_granted('ROLE_ADMIN') %}
                        <header id="header">
                            <h1><a href="{{ path('salesianos_admin_homepage') }}" id="logo">boscoempleo.com &middot; Admin</a></h1>
                            <nav id="nav">
                                <a id="inicio" href="{{ path('salesianos_admin_homepage') }}">Inicio</a>
                                <a id="candidatos" href="{{ path('salesianos_admin_candidatos') }}">Candidatos</a>               
                                <a id="empresas" href="{{ path('salesianos_admin_empresas') }}">Empresas</a>
                                <a id="ofertas" href="{{ path('salesianos_admin_ofertas') }}">Ofertas</a>
                                <a id="blog" href="{{ path('salesianos_admin_blog') }}">Blog</a>     
                                    <a id="login" href="{{ path('fos_user_security_logout') }}" >                                   
                                    <span class="iec_power no-mobile conectado" title="Cerrar Sesión">&#x23FB;</span>
                                    <span class="mobile-only">Iniciar / Cerrar sesión</span>
                                    </a>                         
                            </nav>
                        </header>
                        {% else %}	
                        <header id="header">
                            <h1><a href="{{ path('salesianos_main_homepage') }}" id="logo">boscoempleo.com</a></h1>
                            <nav id="nav">
                                <a id="inicio" href="{{ path('salesianos_main_homepage') }}">Inicio</a>
                                <a id="perfil" href="{{ path('salesianos_main_miperfil') }}">Mi Perfil</a>
                                <a id="ofertas" href="{{ path('salesianos_main_ofertas') }}">Ofertas</a>
                                <a id="blog" href="{{ path('salesianos_main_blog') }}">Blog</a>                   
                                <a id="contacto" href="{{ path('salesianos_main_contacto') }}">Contacto</a>                                
                                    {% if is_granted('ROLE_USER') %} 
                                    <a id="login" href="{{ path('fos_user_security_logout') }}" >                                   
                                    <span class="iec_power no-mobile conectado" title="Cerrar Sesión">&#x23FB;</span>
                                    {% else %}
                                    <a id="login" href="{{ path('fos_user_security_login') }}" >
                                    <span class="iec_power no-mobile desconectado" title="Iniciar Sesión">&#x23FB;</span>
                                    {% endif %}
                                    <span class="mobile-only">Iniciar / Cerrar sesión</span>
                                    </a>                                
                            </nav>
                        </header>
                        {% endif %}	

                    </div>
                </div>
            </div>
        </div>
    {% endblock menu %}

{% block main %}

<div class="row main-row">

	<div class="3u">						
		<section>
			<p>
				Configuración de la cuenta<br>
				{% if is_granted('ROLE_ALUMNO') %}
				    <a href="{{ path('salesianos_main_datos_alumno') }}">Datos personales</a><br>
				    <a href="{{ path('salesianos_main_cv') }}">Curriculum Vitae</a><br>
				{% endif %}
				{% if is_granted('ROLE_EMPRESA') %}
				    <a href="{{ path('salesianos_main_datos_empresa') }}">Datos empresa</a><br>
				{% endif %}						
			</p>
		</section>
	</div>

	<div class="9u">					
		<section>
			<h2>Configuración de la cuenta</h2>
			<div id="form_cuenta">
				<div class="form_row">
					<div class="form_label">
						<label>Usuario:</label>
					</div>
					<div class="form_widget usuario">
						<input type="text" value="{{ app.user.username }}" readonly />
					</div>
				</div>
				{% block fos_user_content %}
				{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
				{% endblock fos_user_content %}				
			</div>
		</section>	
	</div>

</div>

{% endblock main %}